body {
  text-align: center;
}

img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin-bottom: 100px;
}

.container {
  display: block;
  width: 90vw;
  height: 90vh;
}

.swag {
  display: none;
  top: 10px;
}
